<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.service.business.db.dao.UserManageExtDao">
	<resultMap id="BaseResultMap" type="com.sinosoft.service.business.db.vo.SYSUserVo">
    <result column="EMPLID" jdbcType="VARCHAR" property="emplID" />
    <result column="COMPANYCODE" jdbcType="VARCHAR" property="companyCode" />
    <result column="COMPANYNAME" jdbcType="VARCHAR" property="companyName" />
    <result column="LOCATIONCODE" jdbcType="VARCHAR" property="locationCode" />
    <result column="LOCATIONNAME" jdbcType="VARCHAR" property="locationName" />
    <result column="DEPTID" jdbcType="VARCHAR" property="deptId" />
    <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
    <result column="COSTCENTRE" jdbcType="VARCHAR" property="costCentre" />
    <result column="EMPLRCD" jdbcType="VARCHAR" property="emplrcd" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
	<result column="preferredFirstName" jdbcType="VARCHAR" property="preferredFirstName" />
	<result column="jobCode" jdbcType="VARCHAR" property="jobCode" />
	<result column="positionCode" jdbcType="VARCHAR" property="positionCode" />
	<result column="positionTitle" jdbcType="VARCHAR" property="positionTitle" />
    <result column="JOBTITLE" jdbcType="VARCHAR" property="jobtitle" />
    <result column="REPORTSTO" jdbcType="VARCHAR" property="reportsto" />
    <result column="MANAGERTITLE" jdbcType="VARCHAR" property="managertitle" />
    <result column="MANAGERID" jdbcType="VARCHAR" property="managerid" />
    <result column="MANAGERNAME" jdbcType="VARCHAR" property="managername" />
    <result column="HIREDATE" jdbcType="DATE" property="hireDate" />
    <result column="REHIREDATE" jdbcType="DATE" property="rehireDate" />
    <result column="TERMINATIONDATE" jdbcType="DATE" property="terminationdate" />
    <result column="EMPLCLASS" jdbcType="VARCHAR" property="emplclass" />
    <result column="ACTNDATE" jdbcType="DATE" property="actndate" />
    <result column="ACTNRSNEFFDT" jdbcType="DATE" property="actnrsneffdt" />
    <result column="FUNCTIONALMGR" jdbcType="VARCHAR" property="functionalmgr" />
    <result column="POSNDESCR" jdbcType="VARCHAR" property="posndescr" />
    <result column="FUNCMGREMPLID" jdbcType="VARCHAR" property="funcmgremplid" />
    <result column="FUNCMGRNAME" jdbcType="VARCHAR" property="funcmgrname" />
    <result column="HRL1DESCR" jdbcType="VARCHAR" property="hrl1descr" />
    <result column="HRL2DESCR" jdbcType="VARCHAR" property="hrl2descr" />
    <result column="HRL3DESCR" jdbcType="VARCHAR" property="hrl3descr" />
    <result column="HRL4DESCR" jdbcType="VARCHAR" property="hrl4descr" />
    <result column="HRL5DESCR" jdbcType="VARCHAR" property="hrl5descr" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="MAKEDATE" jdbcType="DATE" property="makedate" />
    <result column="MAKETIME" jdbcType="VARCHAR" property="maketime" />
    <result column="MODIFYDATE" jdbcType="DATE" property="modifydate" />
    <result column="MODIFYTIME" jdbcType="VARCHAR" property="modifytime" />
	  
  </resultMap>
  <sql id="Base_Column_List">
 emplID,companyCode,companyName,locationCode,locationName,deptId,department,costcentre,emplrcd,name,
  preferredFirstName,jobCode,managertitle,managerid,managername,hireDate,rehireDate,terminationdate,
  emplclass,actndate,actnrsneffdt,functionalmgr,posndescr,funcmgremplid,funcmgrname,hrl1descr,hrl2descr,hrl3descr,hrl4descr,hrl5descr,status,operator
  </sql>

  <select id="queryList11" resultMap="BaseResultMap" parameterType="com.sinosoft.service.business.db.vo.SYSUserVo"> 
  	select a.*
  from lduser where 1=1
   a  
       <if test="emplID != null">
        and emplID = #{emplID,jdbcType=VARCHAR}
       </if>
       <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
  </select>
  
 <select id="selectEmplid" resultMap="BaseResultMap" parameterType="com.sinosoft.service.business.db.vo.SYSUserVo"> 
  select emplID
  from lduser
   a  where 1=1
  and  companycode 
  in
  (select distinct(companycode) from lduser where jobCode= #{jobCode,jdbcType=VARCHAR})
   
  </select>
  
  
  
    <select id="queryLists" resultMap="BaseResultMap" parameterType="com.sinosoft.service.business.db.vo.SYSUserVo"> 
    select * from lduser 
      where 1=1
        
       <if test="emplID != null">
        and emplID = #{emplID,jdbcType=VARCHAR}
       </if>
       <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
  </select>
  
    <select id="queryLduserA" resultType="com.sinosoft.service.business.db.vo.SYSUserVo" parameterType="com.sinosoft.service.business.db.vo.SYSUserVo"> 
  	select a.*,(select salesrole1 from jobcode where jobcode=a.jobcode and rownum=1)as salesrole1,(select salesrole2 from jobcode where jobcode=a.jobcode and rownum=1)as salesrole2 from lduser a
  	<where>
       <if test="emplID != null">
        and emplID = #{emplID,jdbcType=VARCHAR}
       </if>
       <if test="city != null">
       and locationCode like concat(#{city,jdbcType=VARCHAR},'%')
      </if>
      <if test="location != null">
        and locationCode like concat(#{location,jdbcType=VARCHAR},'%')
       </if>
       <if test="companyName != null">
        and companyName = #{companyName,jdbcType=VARCHAR}
       </if>
       <if test="department != null">
        and department = #{department,jdbcType=VARCHAR}
       </if>
       </where>
       order by positiontitle desc
  </select>
  
  
  <select id="selectByUid" resultMap="BaseResultMap" parameterType="com.sinosoft.service.business.db.vo.SYSUserVo">
  
   	select a.*
  from lduser
   a   where 1=1
       <if test="emplID != null">
        and emplID = #{emplID,jdbcType=VARCHAR}
       </if>
  
  </select>
  
  
  <select id="selectByemplID" resultMap="BaseResultMap" parameterType="com.sinosoft.service.business.db.vo.SYSUserVo">
  
   	select emplid from lduser where 1=1
       <if test="emplID != null">
        and emplID = #{emplID,jdbcType=VARCHAR}
       </if>
  
  </select>
  
   <select id="selectAlls" resultMap="BaseResultMap">
  
   	select * from lduser
  </select>
  
     <select id="selectones" resultMap="BaseResultMap"  parameterType="com.sinosoft.service.business.db.vo.SYSUserVo">
  
   	select * from lduser where emplID = #{emplID,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByemplID" parameterType="com.sinosoft.service.business.db.vo.SYSUserVo">
    delete from lduser where  emplID = #{emplID,jdbcType=VARCHAR}
  </delete>
    <delete id="delete" parameterType="com.sinosoft.service.business.db.vo.SYSUserVo">
    delete from lduser where  emplID = #{emplID,jdbcType=VARCHAR}
  </delete>
   <delete id="deleteall" >
    delete from lduser 
  </delete>
  	<insert id="insertA" parameterType="com.sinosoft.service.business.db.vo.SYSUserVo">
  	 insert into LDUserA (emplID,department,name,preferredFirstName,jobCode,positionCode,positionTitle,companyCode,companyName,location,
  	 locationDescr,deptID,costCentre,emplRcd ,lastName,eMsPositionCode,eMsPositionTitle,eMsStaffID,eMsName,fMsPositionCode,fMsPositionTitle,
     fMsStaffID,fMsName,jobTitle,legacyJobcode,status,hireDate,rehireDate,termDate,originalHireDate,companyDt,hRL1Descr,hRL2Descr,hRL3Descr,
     hRL4Descr,hRL5Descr,checkFlag,operator,makeDate,makeTime)
     values 
      (#{emplID,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{preferredFirstName,jdbcType=VARCHAR}, 
      #{jobCode,jdbcType=VARCHAR}, #{positionCode,jdbcType=VARCHAR}, #{positionTitle,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR},
       #{companyName,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR},#{locationDescr,jdbcType=VARCHAR}, #{deptID,jdbcType=VARCHAR}, #{costCentre,jdbcType=VARCHAR}, 
      #{emplRcd,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, #{eMsPositionCode,jdbcType=VARCHAR}, 
      #{eMsPositionTitle,jdbcType=VARCHAR}, #{eMsStaffID,jdbcType=VARCHAR}, #{eMsName,jdbcType=VARCHAR}, 
      #{fMsPositionCode,jdbcType=VARCHAR}, #{fMsPositionTitle,jdbcType=VARCHAR}, #{fMsStaffID,jdbcType=VARCHAR},
      #{fMsName,jdbcType=VARCHAR}, #{jobTitle,jdbcType=VARCHAR},#{legacyJobcode,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{hireDate,jdbcType=TIMESTAMP}, #{rehireDate,jdbcType=VARCHAR},
      #{termDate,jdbcType=TIMESTAMP},#{originalHireDate,jdbcType=TIMESTAMP},#{companyDt,jdbcType=TIMESTAMP},
      #{hRL1Descr,jdbcType=VARCHAR}, #{hRL2Descr,jdbcType=VARCHAR}, #{hRL3Descr,jdbcType=VARCHAR},#{hRL4Descr,jdbcType=VARCHAR},
      #{hRL5Descr,jdbcType=VARCHAR}, 
      #{checkFlag,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR},#{makeDate,jdbcType=TIMESTAMP}, #{makeTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insert" parameterType="com.sinosoft.service.business.db.vo.SYSUserVo">
  	 insert into LDUser(emplID,department,name,preferredFirstName,jobCode,positionCode,positionTitle,companyCode,companyName,location,
  	 locationDescr,deptID,costCentre,emplRcd ,lastName,eMsPositionCode,eMsPositionTitle,eMsStaffID,eMsName,fMsPositionCode,fMsPositionTitle,
     fMsStaffID,fMsName,jobTitle,legacyJobcode,status,hireDate,rehireDate,termDate,originalHireDate,companyDt,hRL1Descr,hRL2Descr,hRL3Descr,
     hRL4Descr,hRL5Descr,checkFlag,operator,makeDate,makeTime)
     values 
      (#{emplID,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{preferredFirstName,jdbcType=VARCHAR}, 
      #{jobCode,jdbcType=VARCHAR}, #{positionCode,jdbcType=VARCHAR}, #{positionTitle,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR},#{locationDescr,jdbcType=VARCHAR}, #{deptID,jdbcType=VARCHAR}, #{costCentre,jdbcType=VARCHAR}, 
      #{emplRcd,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, #{eMsPositionCode,jdbcType=VARCHAR}, 
      #{eMsPositionTitle,jdbcType=VARCHAR}, #{eMsStaffID,jdbcType=VARCHAR}, #{eMsName,jdbcType=VARCHAR}, 
      #{fMsPositionCode,jdbcType=VARCHAR}, #{fMsPositionTitle,jdbcType=VARCHAR}, #{fMsStaffID,jdbcType=VARCHAR},#{fMsName,jdbcType=VARCHAR}, #{jobTitle,jdbcType=VARCHAR},#{legacyJobcode,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{hireDate,jdbcType=TIMESTAMP}, #{rehireDate,jdbcType=VARCHAR},
      #{termDate,jdbcType=TIMESTAMP},#{originalHireDate,jdbcType=TIMESTAMP},#{companyDt,jdbcType=TIMESTAMP},
      #{hRL1Descr,jdbcType=VARCHAR}, #{hRL2Descr,jdbcType=VARCHAR}, #{hRL3Descr,jdbcType=VARCHAR}, #{hRL4Descr,jdbcType=VARCHAR}, #{hRL5Descr,jdbcType=VARCHAR}, 
      #{checkFlag,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR},#{makeDate,jdbcType=TIMESTAMP}, #{makeTime,jdbcType=VARCHAR})
  </insert>

  <insert id="insertdetailall" parameterType="com.sinosoft.service.business.db.vo.detailallVo">
	  insert into detailall(transno,staffid,flag,operator,descs,fileid,makedate,maketime) 
	  values(#{transno,jdbcType=VARCHAR},#{staffid,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR},
	  #{operator,jdbcType=VARCHAR},#{descs,jdbcType=VARCHAR},#{fileid,jdbcType=VARCHAR},#{makedate,jdbcType=TIMESTAMP},#{maketime,jdbcType=VARCHAR})
  </insert> 
    <insert id="insertrecordall" parameterType="com.sinosoft.service.business.db.vo.recordallVo">
	  insert into recordall(transno,fileid,filetype,counts,loser,succeed,operator,makedate,maketime) 
	  values(#{transno,jdbcType=VARCHAR},#{fileid,jdbcType=VARCHAR},#{filetype,jdbcType=VARCHAR},
	  #{counts,jdbcType=VARCHAR},#{loser,jdbcType=VARCHAR},#{succeed,jdbcType=VARCHAR},#{operator,jdbcType=VARCHAR},#{makedate,jdbcType=TIMESTAMP},#{maketime,jdbcType=VARCHAR})
  </insert>

	 
</mapper>